/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: Futura;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
  border-radius: 10em;
  background-color: white;
  border: 0.25px solid black;
}

/* Add space between <section> elements */
section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#bio, #contact{
  margin-top: 10rem;
  margin-bottom: 10rem;
}


/*
  TEXT ELEMENTS -------------------
*/
a{
  color: black;
}

nav a {
  color: black;
  text-align: center;
}

nav a:hover, nav a:focus {
  color: #FD5693;
}

/* This portion of code is drawn from www.w3schools.com/cssref/sel_hover & www.w3schools.com/cssref/css_selectors*/
a:hover {
  background-color: #D8EDF0;
}

p{
  width: 100%;
}

code {
  background-color: #EEE;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10em;
  display: block;
}

h1:hover {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
}

h2 {
  margin-top: 0.5rem;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
}

h2:hover {
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
}

h3 {
  margin-top: 3rem;
  color: #FD5693;
}

h4 {
  margin-bottom: 0.5rem;
}

footer{
  text-align: center;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for buttons */
/*  This portion of code is drawn from the style guide template provided */
.button {
  background-color: white;
  border: 0.25px solid black;
  border-radius: 10em;
  color: black;
  padding: 1.25em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #FD5693;
  color: white;
}

/* Styling for nav-bar adapted from P02*/
.nav-box{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-around;
  gap:3em;
  max-width:100em;
  margin-left:auto;
  margin-right:auto;
}

.nav-title{
  align-items:center;
  gap:1em;
}

@media(max-width:65em){
  .nav-box{
    gap:1em;
  }
}

/* This portion of code is drawn from https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar{
  display:flex;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0.25px solid black;
  border-radius:10em;
  flex-grow:2;
}

/* Adjusts the navigation bar when the screen gets too small */
@media(max-width:465em){
  .navbar{
    flex-wrap:wrap;
  }
}

.button-nav{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.button-nav:hover:not(.active){
  background-color: #FD5693;
  color: white;
  border-radius: 10em;
}

.logo-img{
  width:100%;
  max-width:6em;
}


/* This portion of code is drawn from www.w3schools.com/css/css_form */
input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0.25px solid black;
  border-radius: 10em;
}

input:hover {
  border: 0.25px solid #FD5693;
}

input:focus {
  border: 0.25px solid black;
  background-color: #D8EDF0;
}

/* This portion of code is drawn from www.w3schools.com/howto/howto_css_image_overlay */
img:hover {
  transform: scale(1.1);
}

img{
  height: auto;
  max-width:3em;
}

/*
  FLEX BOX-------------------
*/

.box-wrap-horizontal{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-wrap-vertical{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  flex-direction: column;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Colour boxes in style guide */
.box-color{
	-webkit-flex: 1 1 10em;
	-ms-flex: 1 1 10em;
	flex: 1 1 10em;
  padding: 1em;
  border-radius: 110px;
}

.box-color:nth-of-type(1) {
  background-color: #FD5693;
  color:white;
}

.box-color:nth-of-type(2) {
  background-color: #000000;
  color:white;
}

.box-color:nth-of-type(3) {
  background-color: #D8EDF0;
}

.box-color:nth-of-type(4) {
  background-color: #CFCFCF;
}

/* Text boxes in contact */
.box-link{
	-webkit-flex: 1 1 10em;
	-ms-flex: 1 1 10em;
	flex: 1 1 10em;
  padding: 1em;
  border-radius: 110px;
  background-color: white;
  border: 0.25px solid black;
}

/* Text boxes in interest */
.box-text{
	-webkit-flex: 1 1 10em;
	-ms-flex: 1 1 10em;
	flex: 1 1 10em;
  padding: 1em;
  border-radius: 110px;
  background-color: white;
  border: 0.25px solid black;
}

.box-text:nth-of-type(1) {
  background-color: #FD5693;
}

.box-text:nth-of-type(2) {
  background-color: #D8EDF0;
}

.box-text:nth-of-type(3) {
  background-color: #CFCFCF;
}

/* Project Overview box */

.box-item{
  -webkit-flex: 1 1 16em;
  -ms-flex: 1 1 16em;
  flex: 1 1 16em;
  margin: 0.5em;
}

/* Project Overview banner */

.banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
}

.banner-img1{
  width:100%;
  max-width:20em;
}

.banner-img2{
  width:100%;
  max-width:20em;
}

.banner-img3{
  width:100%;
  max-width:10em;
}

/* Process Analysis banner */
.prototype-img{
  width:100%;
  max-width:40em;
}

.intext-img{
  width:100%;
  max-width:25em;
}

.intext-img-wide{
  width:100%;
  max-width:60em;
}

/* Adjust margin and padding when the screen gets too small */
@media(max-width:65em){
  body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .element {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10em;
    background-color: white;
    border: 0.25px solid black;
  }

  #bio, #contact{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

}
